<!DOCTYPE html>
<html>
	<head>
		<title>Add movie {{.IMDb}}</title>
	</head>
	<body>
		<a href="/">Recommended Movies</a>
		<a href="/search">Search for a movie to add</a>
		<h1>Add movie {{.IMDb}}</h1>
		<hr />
		<form action="/save" method="GET">
      <input type="hidden" name="imdb" value="{{.IMDb}}" />
			<label for="date">When did you watch this movie? Enter the date as follows YYYYMMDD. Blank for today. 0 for an unknown date. Or type the date in the format already informed.</label>
			<br />
      <input type="text" name="date" id="date" placeholder="Date" />
			<br /><br />
			<label>Did you like this movie?</label>
			<br />
      <input type="radio" id="yes" name="like" value="1">
      <label for="yes">Yes</label>
      <br>
      <input type="radio" id="no" name="like" value="0">
      <label for="no">No</label><br>
      <br />
      <input type="submit" value="Add" />
    </form>
	</body>
</html>