<!DOCTYPE html>
<html>
	<head>
		<title>Saving the movie {{.IMDb}}</title>
	</head>
	<body>
		<a href="/">Recommended Movies</a>
		<a href="/search">Search for a movie to add</a>
		<h1>Saving the movie {{.IMDb}}</h1>
	</body>
</html>